<div><%= @current_blog.title %></div>
<h3>Posts</h3>
<% @posts.each do |post| %>
  <h2><%= post.publish_date %></h2>
  <h1><%= post.title %></h1>
  <div><%= markdown(post.content).html_safe %></div>
<% end %>
