        <footer class="footer">
            <div class="row">
                <div class="col-lg-12">
                  <p>Copyright &copy; <%= Rails.application.secrets.app_name %> 2014. All Rights Reserved</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>
