<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <a href="<%= new_blog_post_path(@current_blog) %>" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span> Add post
    </a>
    <a href="<%= edit_blog_path(@current_blog) %>" class="btn btn-default">
      <span class="glyphicon glyphicon-cog"></span> Edit blog
    </a>
  </div>
</div>
