  <aside>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">Blog Categories</li>
        <% @categories.each do |category| %>
          <li><a href="<%= site_category_path(category) %>"><%= category.name %></a></li>
        <% end %>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
  </aside>
