                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                              <% @categories.each do |category| %>
                                <li><a href="#"><%= category.name %></a> (<%= category.post_categoryships_count %>)</li>
                              <% end %>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
