/*
 *= require highlightjs/railscasts
 */

// import the CSS framework
@import "bootstrap";
@import 'bootstrap-datetimepicker';

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
  margin: 50px 0;
}
