/*
 *= require highlightjs/railscasts
 */

// import the CSS framework
@import "bootstrap";
@import 'bootstrap-datetimepicker';

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

header {
  text-align: center;
}

footer {
  margin: 50px 0;
}
