/*
 *= require highlightjs/railscasts
 */

// Customize
$font-size-base: 17px;
// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'font-awesome';

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

.header {
  transition: top 0.2s ease-in-out;
  top: 0;
  position: fixed;
  text-align: center;
  z-index: 1000;
  background-color: white;
  width: 100%;
  h1 small {
    color: #c4c4c4;
  }
}

.nav-image {
  background-color: rgba(31,31,31,0.6);
  .page-header {
    border-bottom: none;
  }
  a {
    color: rgba(255,255,255,0.97);
  }
}

#sidebar-toggle {
  font-size: x-large;
  padding-top: 0.5em;
}

.page-header {
  margin: 7px 0 7px 0;
}

.container {
  padding-top: 50px;
}

.footer {
  margin: 50px 0;
}

.misc-bar {
  text-align: right;
  width: 100%;
}

.social-buttons {
  padding-bottom: 0.5em;
  .fb-like {
    span {
      width: 115px !important;
      vertical-align: baseline !important;
    }
  }
}

table {
  @extend .table;
}

#sidebar-toggle {
  color: #c4c4c4;
  margin-left: 7px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  top: 0px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
  color: white;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
