
// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'font-awesome';
@import 'editor';

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

.navbar-brand {
  font-size: inherit;
  }

body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Lantinghei TC", "Hiragino Kaku Gothic Pro", "Microsoft Jhenghei", sans-serif;
}

footer {
  margin: 50px 0;
}

.simple_form {
  .post_status {
    width: 150px;
  }
  #post_title {
    font-size: large;
  }
  #post_publish_date, #post_permalink {
    font-size: small;
  }
  .form-group {
    padding: 0px 15px;
  }
}
