.md-editor {
  @extend .well;
  margin-top: 1em;
  padding: 0px;
  #editor {
    min-height: 30em;
  }
}

.md-toolbar {
  z-index: 1000;
  background-color: white;
  width: 100%;
  top: 50px;
  padding: 10px 5px 10px 5px;
}

.link-popover {
  width: 200px;
  padding: 10px;
}

.image-popover {
  width: 200px;
  padding: 10px;
}
